{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
    
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    {{ post.date | default: "1900-01-01" | date: "%Y" }} "</t>"
        {% if title %}
        <b>{{title}}</b>
        {% endif %}
        {% if post.smallitem1 %}
        <br> {{post.smallitem1}} 
        {% endif %}
        {% if post.smallitem2 %}
        <br> {{post.smallitem2}}
        {% endif %}
        {% if post.link %}
        (<a href=" {{ post.link }} ">link</a>)
        {% endif %}
        {% if post.pdf %}
        (<a href=" {{ post.pdf }} ">pdf</a>)
        {% endif %}
        {% if post.location %}
        <br> <i>{{post.location}}</i>
        {% endif %}

      </article>
